<form method = "POST" action = "/auth/login">
	<div class = "form-group">
		<label>Name</label>
		<input type = "text" name = "text" class = "form-control" placeholder = "Whos are you sending this to">
	</div>
	<div class = "form-group">
		<label>Address</label>
    <input type = "text" name = "Street" class = "form-control" placeholder = "1234 Sands Point West Egg">
    <input type = "text" name = "City" class = "form-control" placeholder = "Long Island">
    <!-- autocomplete -->
    <div class="row">
    <div class="col s6">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">State</label>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <input type = "text" name = "zip" class = "form-control" placeholder = "11930">
	</div>
	<input type = "submit" value = "Save Address" class = "btn">
</form>
