<!DOCTYPE html>
<html>
<head>
	<title>postCard!</title>
	<!-- Compiled and minified CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>

	<div class ="container">
		<% include partials/alerts %>
		<%- body %>
	</div>


<<<<<<< HEAD
	<% include partials/navbar %>

=======

	<div><% include partials/navbar %></div>
	<br>
	<br>
	<% include partials/footer %>





>>>>>>> 3ae1a037b4cd49b7f8d4bf32750ad279ec90a7df
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>
